.app_dark_theme {
    --text-primary: #181818;
    --text-primary-inverted: #efefef;
    --text-secondary: rgba(0, 0, 0, 40%);
    --background-page: #2d2d2d;
    --background-primary: #424242;
    --background-inverted: #c7c7c7;
    --background-error: rgba(189, 0, 22, 25%);
    --background-overlay: rgba(66, 66, 6, 15%);
    --control-border: rgba(182, 175, 175, 10%);
    --outline: #1a76cb;
    --brand: #DB001B;
    --link: #1259a1;
};
