.app_light_theme {
    --text-primary: #000;
    --text-primary-inverted: #FFF;
    --text-secondary: rgba(0, 0, 0, 40%);
    --background-page: #fff;
    --background-primary: #f5f5f5;
    --background-inverted: #000;
    --background-error: rgba(189, 0, 22, 25%);
    --background-overlay: rgba(66, 66, 6, 15%);
    --control-border: rgba(17, 40, 75, 10%);
    --outline: #1a76cb;
    --brand: #BD0016;
    --link: #1a76cb;
};
